.name {
  padding-right: 50px;
}

.rgb {
  padding-left: 25px;
}
.hsl {
  padding-left: 25px;
}

.color {
  border-radius: 5px;
}

.color-name {
  padding-left: 25px;
}

.label {
  font-weight: bolder;
}
.search-box {
  width: 20%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: lightgray;
}

.search-btn {
  background: lightblue;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}
